<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Projeto Teste Netshoes</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../../css/bootstrap-theme.min.css"/>
  </head>
  <body>
  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Netshoes Teste</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="endereco"><a th:href="@{/}" href="enderecos.html" th:title="#{endereco.title}">Enderecos</a></li>
            <li class="cep"><a th:href="@{/search-cep}" href="search.html">Cep</a></li>
            <li class="stream"><a th:href="@{/stream}" href="stream.html">Stream</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        
      </div><!-- /.container-fluid -->
    </nav>
  
    <div class="container">
      <div class="page-header"><h1 layout:fragment="header">Topo</h1></div>
      
      <div id="msgError" class="alert alert-danger alert-dismissible" style="display: none" role="alert"></div>
      <div id="msgWarning" class="alert alert-warning alert-dismissible" style="display: none" role="alert"></div>
      <div id="msgSuccess" class="alert alert-info alert-dismissible" style="display: none" role="alert"></div>
      
      <div layout:fragment="content">
        Conteúdo principal
      </div>
    </div>
    
    <script src="../../js/jquery-1.7.2.js" th:src="@{/js/jquery-1.11.3.min.js}" type="text/javascript"></script>
    <script src="../../js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
    <script src="../../js/jquery.twbsPagination.min.js" th:src="@{/js/jquery.twbsPagination.min.js}" type="text/javascript"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    
    <script>
      function showError(message) {
        showMessage(message, $("#msgError"));
      }
      
      function showWarning(message) {
        showMessage(message, $("#msgWarning"));
      }
      
      function showSuccess(message) {
        showMessage(message, $("#msgSuccess"));
      }
      
      function clearMessages() {
        $(".alert").each(function (a) {
          $(this).hide();
        });
      }
      
      function showMessage(message, alert) {
        clearMessages();
        if (alert) {
          alert.text(message).append('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>').show();
        }
      }
      
      function activeNavigation(activePage) {
        if (!activePage) {
          return;
        }
        $('.navbar-nav .'+activePage).addClass('active');
      }
      
      String.prototype.splice = function(i, rem, s) {
        try {
          return (this.slice(0,i) + s + this.slice(i + Math.abs(rem)));
        } catch (e) { 
          return this; 
        }
      };
    </script>
    <script layout:fragment="jsOnPage"></script>
  </body>
</html>
